* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: #f7fff7;
    height: 100%;
}

a {
    color: black;
}

a:hover {
    color: black;
}

.shadow {
    box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}

.section-container {
    padding: 30px;
}

.card-theme {
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
}

.card-heading-theme{
    color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding: 12px;
}

.card-body-theme{
    background-color: #494F56;
}

.cards {
    display: flex;
    flex-direction: column;
}

